<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant name:</strong>
  <%= @merchant.merchant_name %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @merchant.merchant_address %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
