
<h1>Sales</h1>

<h3>Total Sales:</h3> <%= @total_sales %>
<br><br><br>

<%= form_tag({:action => :upload_sales}, :multipart => true) do %>
  <%= label_tag :csv, 'Upload sales data as CSV:'  %><br>
  <%= file_field_tag :csv %> <br>
  <%= button_tag "Upload" %>
<% end %>
<p>CSV required headers: Customer Name, Item Description, Item Price, Quantity, Merchant Name, Merchant Address</p>

<br><br><br><br>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Customer</th>
      <th>Quantity</th>
      <th>Merchant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.product.description %></td>
        <td><%= sale.customer.name %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.merchant.merchant_name %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

