<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @sale.merchant.merchant_name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@sale.product.price, :unit => "$") %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer.name %>
</p>

<%= link_to 'Back', sales_path %>
